<table style="max-width:516px;min-width:220px">
	<tbody>
      <tr>
         <td>
            <div style="min-width: 350px;border-style: solid; border-width: 1px; border-color: #dadce0; border-radius: 10px; padding: 0px 20px; border-left: 5px solid #57b1ab;">
                	<div style="display: flex; padding: 5px; border-bottom: 1px solid #dadce0;">
						<div style="width:80%"></div>
						<img alt="Adequei" style="width:80px; flex: 1; text-align: center" src="https://ci5.googleusercontent.com/proxy/WeUocXrnuGg99U1Zgaz_UB4xU9TRFZO2dB_VYKfR-Xt9PqmIzfJ3ZBvAkg83JGFTiEFSMipcTx6YWSarHQa2G0h0sWOQwdWKMEDLbn1m7g876r7xrFfYAm97xnWH5XNwbSZWCBtogg=s0-d-e1-ft#https://www.google.com/a/cpanel/adequei.com.br/images/logo.gif?service=google_gsuite">
					</div>
					<div style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 14px; color: #0a324a; line-height: 20px; padding-top: 20px; text-align: left;">
						Olá,<br><br>Clique no link para redefinir a senha de login na Adequei.<br><br>
						Se você não solicitou a redefinição da sua senha, ignore este e-mail.<br>
						<div style="padding:15px 0px;text-align:center">
							<a href="{{ apiBaseUrl }}/reset_password?token={{ token }}&email={{ email }}"
								style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;line-height:16px;color:#ffffff;font-weight:700;text-decoration:none;font-size:14px;display:inline-block;padding:10px 24px;background-color:#236084;border-radius:5px;min-width:90px"
									>Redefinir Senha</a></div>
						Atenciosamente,<br><br>
						Equipe Adequei
					<div style="border-top: 1px solid #dadce0; margin-top: 10px;">
						<img alt="Adequei" style="width:300px" src="https://ci5.googleusercontent.com/proxy/WeUocXrnuGg99U1Zgaz_UB4xU9TRFZO2dB_VYKfR-Xt9PqmIzfJ3ZBvAkg83JGFTiEFSMipcTx6YWSarHQa2G0h0sWOQwdWKMEDLbn1m7g876r7xrFfYAm97xnWH5XNwbSZWCBtogg=s0-d-e1-ft#https://www.google.com/a/cpanel/adequei.com.br/images/logo.gif?service=google_gsuite"> 
					</div>
            </div>
         </td>
      </tr>
   </tbody>
</table>